@font-face {
    font-family: 'NotoSansCJK_Bold';
    src: url('../../font/NotoSansCJKkr-Bold.otf');
}

@font-face {
    font-family: 'NotoSansCJK_Regular';
    src: url('../../font/NotoSansCJKkr-Regular.otf');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #31373c;
}

a:link { color: #8b8b8b; text-decoration: none;}
a:visited { color: #8b8b8b; text-decoration: none;}

.main-content {
  width: 92%;
  height: 100%;
  margin-left: 4%;
  margin-right: 4%;
}

/* HEADER */
header {
  width: 100%;
  height: 10%;
}

.prev_btn_wrap {
  float: right;
  position: relative;
  width: 15%;
  height: 100%;
}

.prev_btn_wrap img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  right: 5%;
  bottom: 2%;
}
/* HEADER END */

/* SECTION */
section {
  width: 100%;
  height: 84%;
  background-color: #ecf0f1;
  border-radius: 10px;
  margin-top: 5px;
}

#ifr {
  width: 100%;
  height: 100%;
}
/* SECTION END */

/* FOOTER */
footer {
  width: 100%;
  height: 4%;
  bottom: 0;
  text-align: center;
  border-top: solid 2px #ffffff;
  margin-top : 5px;
}

.developBy {
    width: 100%;
    height: 100%;
    color: #ecf0f1;
    font-family: 'NotoSansCJK_Regular';
    font-size: 0.6rem;
    padding-top: 10px;
}
/* FOOTER END */
