@media ( min-width: 1025px ) and ( min-height: 1600px ) {
  .main-content {
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .prev_btn_wrap img {
    position: absolute;
    max-width: 65%;
    max-height: 65%;
    right: 5%;
    bottom: 4%;
  }
  .developBy {
      font-size: 1.0rem;
  }
}
